 <!-- FlatFy Theme - Andrea Galanti /-->
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="Enjoy the tour in data minning.">
	<meta name="keywords" content="DaPy, python, data, data minning" />
    <meta name="author" content="Jackson Woo">

	<title>DaPy</title>
	<link rel='icon' type='image/x-icon' href='http://www.kitgram.cn/static/images/dapy/icon.ico'/>

    <!-- Bootstrap core CSS -->
    <link href="http://www.kitgram.cn/static/css/dapy/bootstrap.min.css" rel="stylesheet">
 
    <!-- Custom Google Web Font -->
    <link href="http://www.kitgram.cn/static/css/dapy/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
	
    <!-- Custom CSS-->
    <link href="http://www.kitgram.cn/static/css/dapy/general.css" rel="stylesheet">
	
	 <!-- Owl-Carousel -->
    <link href="http://www.kitgram.cn/static/css/dapy/custom.css" rel="stylesheet">
	<link href="http://www.kitgram.cn/static/css/dapy/owl.carousel.css" rel="stylesheet">
    <link href="http://www.kitgram.cn/static/css/dapy/owl.theme.css" rel="stylesheet">
	<link href="http://www.kitgram.cn/static/css/dapy/style.css" rel="stylesheet">
	<link href="http://www.kitgram.cn/static/css/dapy/animate.css" rel="stylesheet">
	
	<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="http://www.kitgram.cn/static/css/dapy/magnific-popup.css"> 
	
	<script src="http://www.kitgram.cn/static/js/dapy/modernizr-2.6.2.min.js"></script> 
</head>

<body id="home">
	<nav class="navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="http://www.kitgram.cn"><strong>K</strong>itgram</a>
				</div>
	
				<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
					<ul class="nav navbar-nav">
						<li class="menuItem"><a href="#what">What</a></li>
						<li class="menuItem"><a href="#why">Why</a></li>
						<li class="menuItem"><a href="#who">Users</a></li>
						<li class="menuItem"><a href="#feature">Features</a></li>
					</ul>
				</div>
				 
			</div>
		</nav> 

	<!-- Preloader -->
	<div id="preloader">
		<div id="status"></div>
	</div>
	
	<!-- FullScreen -->
    <div class="intro-header">
		<div class="col-xs-12 text-center abcen1">
			<h1 class="h1_home wow fadeIn" data-wow-delay="0.5s">DaPy</h1>
			<h3 class="h3_home wow fadeIn" data-wow-delay="2.0s">Enjoy the Tour in Data Minning</h3>
			<ul class="list-inline intro-social-buttons">
				<li><a href="https://github.com/JacksonWuxs/DaPy" class="btn  btn-lg mybutton_cyano wow fadeIn" data-wow-delay="1.5s"><span class="network-name">Github</span></a>
				</li>
				<li id="download" ><a href="https://github.com/JacksonWuxs/DaPy/blob/master/Guide%20Book/English/Quick%20Start.md" class="btn  btn-lg mybutton_standard wow swing wow fadeIn" data-wow-delay="1.8s"><span class="network-name">Quick Start</span></a>
				</li>
			</ul>
		</div> 
		<div class="col-xs-12 text-center abcen wow fadeIn">
			<div class="button_down "> 
				<a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#whatis"> <img class="img_scroll" src="http://www.kitgram.cn/static/images/dapy/icon/circle.png" alt=""> </a>
			</div>
		</div>
	</div>
	

	<div id ="what" class="content-section-a" style='background-color:white'>
			<div class="container">
				<div class="row">
					<div class="col-sm-6 pull-right wow fadeInRightBig">
						<h3 class="section-heading" style='color: black; font-size: 35px; margin: 0%'>What is DaPy?</h3>
						<p class="lead" style='color: black; font-size:25px'>
							DaPy is a Python package providing efficiency and readily usable data structures designed by Python original data strucutres. 
							It aims to be a fundamental and friendly tools for real-world data processing. 
						</p>
					</div>
			
					<div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">  
					<img class="img-responsive " src="http://kitgram.cn/static/images/dapy/logo.jpeg" alt=""> 
					</div>   
				</div>
			</div>
	</div>
	
    <div id ="why" class="content-section-a" style='background-color:aliceblue'>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 wow fadeInRightBig"  data-animation-delay="200">   
					<h3 class="section-heading" style='color: black; font-size: 35px; margin: 0%'>Why use DaPy?</h3>
					<p class="lead" style='color: black; font-size:25px'>
						<strong>Convinience</strong> and <strong>efficiency</strong> are the cornerstone of DaPy. 
						In contrast with other libraries, using DaPy is more fluently and naturally while you are doing data mining. 
						With DaPy help, scientists can fluently implements their ideas without the limitation of complex syntax.
					</p>
				</div>   
				<div class="col-sm-6 pull-right wow fadeInLeftBig">
					<img class="img-responsive " src="http://www.kitgram.cn/static/images/dapy/analysis.jpg" alt="">
				</div>
			</div>
		</div>
	</div>

  <div id ="who" class="content-section-a" style='background-color:white'>
		<div class="container">
			<div class="row">
				<div class="col-sm-6 pull-right wow fadeInLeftBig">
					<h3 class="section-heading"style='color: black; font-size: 35px; margin: 0%'>Who use DaPy?</h3>
					<p class="lead" style='color: black; font-size:25px'>
						DaPy is a powerful and flexible data processing tools, therefore everyone who has the demand in data mining can be a user of DaPy. 
						DaPy can help an expert develop and testify their own method quickly, 
						can help reserachers handle their data conviniencetly, 
						and help a novice complete a heavy data task in a short time. 
					</p>
				</div>
				
				<div class="col-sm-6 wow fadeInRightBig"  data-animation-delay="200">  
					<img class="img-responsive " src="http://www.kitgram.cn/static/images/dapy/coders.jpeg" alt=""> 
				</div>   
			</div>
		</div>
	</div>

	<div id="features" class="content-section-a" style='background-color:aliceblue'>
		<div class="container">
			<div class="row col-md-6 col-md-offset-3 text-center wrap_title">	
					<h2>Features</h2>
					<p class="lead" style="margin-top:0">Something DaPy does well</p>
			</div>
			
			<div class='row tworow'>
				<div class="row col-sm-6  block wow bounceIn text-right">
						<h3><a href='https://github.com/JacksonWuxs/DaPy/blob/master/Guide%20Book/English/Features.md#visually-manage-diverse-data'>Manage Data</a></h3>
						<p>Efficiently manage diverse data with clearly perceiving approach.
						</p>
			  </div>
			  <div class="col-sm-6 block wow bounceIn">
						<h3><a href='https://github.com/JacksonWuxs/DaPy/blob/master/Guide%20Book/English/Features.md#easily-insert-and-delete-a-large-number-of-data'>Operate Data</a></h3>
						<p>Quick insert and delete a mount of new records or new variables. 
						</p>
			  </div>
		  </div>
		  
		  <div class="row tworow">
				<div class="row col-sm-6  box-ct block wow bounceIn text-right">
							<h3><a href=''>Access Data</a></h3>
							<p>Make it easy to access a part of your dataset, not only by index or variable names, but also by specefic conditions. </p>
				</div>
				<div class='col-sm-6 block wow bounceIn'>
							<h3>Flexible I/O Tool</h3>
							<p>Functional I/O tools for loading data from CSV, Excel, database and even SPSS and support Chinese data source.</p> 
				</div>
			</div>
			
		  <div class="row tworow">
				<div class="row col-sm-6  block wow bounceIn text-right">
							<h3>Sort Data </h3>
							<p>Sort records by multiple conditions in a linear growth time-consuming situation.  </p>
			  </div>
			  <div class='col-sm-6 block wow bounceIn'>
						<h3>Built-in Model </h3>
						<p>Fast verify your ideas with built-in models.</p> 
			  </div>
			</div>
			
		</div>
	</div>
	
	<!-- Banner Download -->
	<div id="downloadlink" class="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<strong><h2>Try it now!</h2></strong>
				<p class="lead" style="margin-top:0">DaPy is an open source program</p>
				<p><a class="btn btn-embossed btn-primary view" href='https://github.com/JacksonWuxs/DaPy/blob/master/Guide%20Book/English/Quick%20Start.md' role="button">Quick Start</a></p> 
			 </div>
			</div>
		</div>
	</div>
	
    <footer>
      <div class="container">
        <div class="row">
            <div class="col-md-7">
            <h3 class="footer-title" style='color:black'>Follow Me!</h3>
            <p style='color:black'>Contact to maintainer: wuxsmail@163.com<br/>
              Click <a href='https://www.teambition.com/project/5b1b7bd40b6c410019df8c41/tasks/scrum/5b1b7bd51e4661001838eb10' style='color:aquamarine'>here</a> to follow up the latest developments.<br/>
			  Copyright &copy; 2018 Xuansheng Wu<br/>
			  For more information please visit on <a href='https://github.com/JacksonWuxs/DaPy' style='color:aquamarine'>Github</a>
			</p>
			</div>
        </div> 
      </div>
    </footer>

    <!-- JavaScript -->
    <script src="http://www.kitgram.cn/static/js/dapy/jquery-1.10.2.js"></script>
    <script src="http://www.kitgram.cn/static/js/dapy/bootstrap.js"></script>
	<script src="http://www.kitgram.cn/static/js/dapy/owl.carousel.js"></script>
	<script src="http://www.kitgram.cn/static/js/dapy/script.js"></script>
	<!-- StikyMenu -->
	<script src="http://www.kitgram.cn/static/js/dapy/stickUp.min.js"></script>
	<script type="text/javascript">
	  jQuery(function($) {
		$(document).ready( function() {
		  $('.navbar-default').stickUp();
		  
		});
	  });
	
	</script>
	<!-- Smoothscroll -->
	<script type="text/javascript" src="http://www.kitgram.cn/static/js/dapy/jquery.corner.js"></script> 
	<script src="http://www.kitgram.cn/static/js/dapy/wow.min.js"></script>
	<script>
	 new WOW().init();
	</script>
	<script src="http://www.kitgram.cn/static/js/dapy/classie.js"></script>
	<script src="http://www.kitgram.cn/static/js/dapy/uiMorphingButton_inflow.js"></script>
	<!-- Magnific Popup core JS file -->
	<script src="http://www.kitgram.cn/static/js/dapy/jquery.magnific-popup.js"></script> 
</body>

</html>
