{% extends 'base.html' %}
{% block title %} Message {% endblock %} 
{% block beforehead %}
{% endblock %}

{% block content %}
<div class="box">
    <div class="left-top-corner"><div class="right-top-corner"><div class="border-top"></div></div></div>
    <div class="xcontent">
        <div class="inner">
            <h3>Business Plans</h3>
            <p style='color:white'>Here you will find free samples of business plans that will help you to run your own business.</p>
        </div>
    </div>
    <div class="left-bot-corner"><div class="right-bot-corner"><div class="border-bot"></div></div></div>
</div>
{% endblock %}