<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %} 中国大学生射箭（射艺）锦标赛报名 {% endblock %} 
{% block beforehead %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="http://kitgram.cn/static/images/ucac/archery.ico" type="img/x-ico" />
{% endblock %}
{% block content %}
<h1 style='color:white; text-align:center'>欢迎参加 2018中国大学生射箭（射艺）锦标赛</h1>
<div class="main_text" style='color:white'>
	<h2 style='color:white'>赛事信息</h2>
	<ul>
		<li><p>比赛时间： 2018年11月9日---2018年11月11日</p></li>
		<li><p>比赛地点： 上海对外经贸大学（松江校区）</p></li>
		<li><p>赛事规程：<a href='http://kitgram.cn/Library/UCAC/document.pdf' type='button' class='btn btn-defaul' style='background-color:aliceblue' download='2018年中国大学生射箭（射艺）锦标赛竞赛规程.pdf'>下载</a> </p></li>
		<li><p>赛事报名：<a href='http://www.kitgram.cn/ucac/register type='button' class='btn btn-defaul' style='background-color:aliceblue'>现在报名</a></p></li>
        <li><p>实时成绩：<a href='http://www.kitgram.cn/ucac/score' type='button' class='btn btn-defaul' style='background-color:aliceblue'>在线查询</a></p></li>
        <li><p>秩序册：<a href='http://kitgram.cn/Library/UCAC/College.pdf' type='button' class='btn btn-defaul' style='background-color:aliceblue' download='2018年中国大学生射箭（射艺）锦标赛秩序册（大学组）.pdf'>大学组</a>
			<a href='http://kitgram.cn/Library/UCAC/high.pdf' type='button' class='btn btn-defaul' style='background-color:aliceblue' download='2018年中国大学生射箭（射艺）锦标赛秩序册（中小学组）.pdf'>中小学组</a>
			<a href='http://kitgram.cn/Library/UCAC/reflex.pdf' type='button' class='btn btn-defaul' style='background-color:aliceblue' download='2018年中国大学生射箭（射艺）锦标赛秩序册（反曲组）.pdf'>反曲组</a></p></li>
		</ul>
	<br>
</div>
{% endblock %}

        
